#header {
  background-color: rgb(40, 149, 121);
  display: flex;
  justify-content: center;
  color: white;
}

#inner-head {
  height: 64px;
  width: 100%;
  max-width: 986px;
  background-color: rgb(40, 149, 121);
  display: flex;
  justify-content: space-between;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  width: 100%;
  background-color: rgb(40, 149, 121);
  display: flex;
  justify-content: center;
}

#search-bar {
  height: 186px;
  background-color: rgb(40, 149, 121);
  width: 100%;
  max-width: 986px;
}

#inner-search {
  position: relative;
}

#inner-search button {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#browse-items {
  height: 630px;
  width: 100%;
  max-width: 986px;
}

#add-poster {
  height: 199px;
  width: 100%;
  max-width: 986px;
}

#quick-links {
  height: 188px;
  width: 100%;
  max-width: 986px;
  margin: 30px 0px;
}

#about-ikman {
  height: 160px;
  width: 100%;
  max-width: 986px;
}

footer {
  height: 188px;
  display: flex;
  justify-content: center;
  border-top: 2px solid green;
  height: 360px;
}

#footer-content {
  width: 100%;
  max-width: 986px;
  display: flex;
  flex-direction: column;
}

#header-1 {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

#list-1 ul {
  font-size: 0.9rem;
  display: flex;
  color: white;
  height: 30px;
  line-height: 30px;
}

#list-1 ul div {
  display: flex;
  font-size: 0.8rem;
  text-align: center;
  line-height: 30px;
}

#list-1 #left-div {
  padding-left: 30px;
}

#list-1 ul #left-div li {
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 50px;
  border-radius: 5px 0px 0px 5px;
}

#list-1 ul #right-div li {
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 50px;
  border-radius: 0px 5px 5px 0px;
}

#list-1 ul a {
  font-weight: bold;
  color: white;
}

#left-div li a,
#right-div li a {
  font-weight: 400;
}

#header-1 img {
  width: 125px;
  height: auto;
  margin: 0;
  padding: 0;
}

#list-1 {
  margin-left: 20px;
}
#list-b {
  height: 100%;
  gap: 40px;
}

#list-b a {
  color: white;
  font-size: 0.8rem;
}

#list-a,
#list-b {
  display: flex;
  align-items: center;
  line-height: 30px;
}

#list-b button {
  height: 44px;
  width: 130px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 198, 28);
}

#list-b button:hover,
#header-1 img:hover {
  cursor: pointer;
}

#location {
  display: flex;
  font-size: 0.9rem;
  gap: 5px;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.15);
}

#location i {
  line-height: 30px;
}

#search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

#inner-search input {
  width: calc(100vw - 200px);
  max-width: 800px;
  height: 58.5px;
  border-radius: 50px;
  border: none;
  padding: 20px;
  outline: none;
}

input::placeholder {
  color: rgb(162, 159, 159);
  font-size: 1rem;
}

#browse-items-1 {
  height: 90px;
  margin: 10px;
}

#browse-items div:nth-child(2) p {
  font-weight: bold;
  font-size: 0.9rem;
  height: 15px;
}

#browse-items-container {
  display: grid;
  height: calc(100% - 125px);
  width: 100%;
  grid: repeat(4, 1fr) / repeat(4, 1fr);
}

.container-item {
  display: flex;
  padding: 24px 16px;
}

.browse-item-img img {
  width: 60px;
  height: 60px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-details div {
  flex-basis: 40%;
  line-height: 25px;
}

.item-details div:last-child {
  font-size: 0.8rem;
  color: darkgray;
}

#see-all {
  display: none;
}

#add-poster {
  display: flex;
  gap: 1px;
}

#add-poster div {
  flex-basis: 50%;
  padding: 5px;
  outline: none;
}

#add-poster-left {
  border-radius: 5px 0 0 5px;
  box-shadow: -3px 0 5px 1px rgba(0, 0, 0, 0.15);
}

#add-poster-right {
  border-radius: 0 5px 5px 0;
  box-shadow: 3px 0 5px 1px rgba(0, 0, 0, 0.15);
}

#add-poster-left {
  display: flex;
  height: 100%;
}
#add-poster-left > div:first-child {
  flex-basis: 40%;
  box-shadow: none;
  align-self: center;
  padding-left: 0;
  display: relative;
}

#add-poster-left > div:last-child {
  flex-basis: 60%;
  box-shadow: none;
  align-self: center;
  padding-left: 0;
  height: 100%;
  width: 100%;
}

#add-poster-left img {
  width: 180px;
}

#add-poster-left button {
  border-radius: 100px;
  margin-top: 2px;
  height: 40px;
  width: 200px;
  outline: none;
  border: none;
  background-color: #ffc800;
  cursor: pointer;
  color: rgb(68, 68, 68);
}
#add-poster-left button span {
  font-size: 0.9rem;
  font-weight: bold;
}

#add-poster-right div {
  margin-left: 20px;
}
#add-poster-right div:nth-child(2) {
  height: 50px;
}

#add-poster-right img {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 8px;
}

#add-poster-right button {
  border-radius: 100px;
  height: 40px;
  width: 200px;
  outline: none;
  border: none;
  background-color: #0074ba;
  cursor: pointer;
  color: white;
}

#add-poster-right button span {
  font-size: 0.9rem;
  font-weight: bold;
}

#quick-links {
  margin-top: 40px;
}

#inner-quick-links {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

#inner-quick-links > div {
  background-color: #f3f6f5;
  /* height: 152px; */
  border-radius: 7px;
  flex-basis: 25%;
  padding: 15px 5px;
  font-size: 0.9rem;
  line-height: 23px;
}

#inner-quick-links > div div:last-child {
  cursor: pointer;
  color: rgb(68, 68, 68);
}

strong {
  font-weight: bold;
}

.quick-link-topic {
  margin-bottom: 10px;
}

#about-ikman {
  margin-top: 20px;
  color: rgb(122, 121, 121);
  font-size: 0.95rem;
  line-height: 20px;
}

#about-ikman strong {
  font-size: 1rem;
}

#about-ikman button {
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(122, 121, 121);
  font-size: 0.95rem;
  cursor: pointer;
  padding: 0;
  position: relative;
  top: -15px;
}

#footer-content > div:first-child {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

#footer-content > div:last-child {
  flex-basis: 20%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 20px 0px;
  color: rgb(102, 102, 102);
}
#footer-content > div:last-child img {
  height: 25px;
}

#footer-content-top > div div:first-child {
  margin-bottom: 15px;
}

#footer-content-top > div a {
  line-height: 25px;
  color: #0074ba;
  font-size: 0.9rem;
}

#app-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
#app-icons img {
  cursor: pointer;
  position: relative;
  top: -5px;
}
#app-icons img:first-child {
  width: 150px;
  height: 65px;
}
#app-icons img:last-child {
  width: 120px;
  height: 50px;
}
.sub-footer {
  padding-bottom: 10px;
}
.container-item div {
  cursor: pointer;
}

#list-icon {
  display: none;
}

#search-btn {
  background-color: transparent;
  border: none;
}

#footer-content-hidden {
  display: none;
}

@media all and (min-width: 849px) and (max-width: 992px) {
  #about-ikman {
    margin-bottom: 30px;
  }
  #browse-items,
  #add-poster,
  #quick-links,
  #about-ikman,
  #footer {
    padding: 0px 10px;
  }
}

@media all and (min-width: 800px) and (max-width: 850px) {
  #app-icons {
    flex-direction: column;
  }
  #about-ikman {
    margin-bottom: 30px;
  }
  #browse-items,
  #add-poster,
  #quick-links,
  #about-ikman,
  #footer {
    padding: 0px 10px;
  }
}

@media all and (max-width: 800px) {
  #about-ikman {
    margin-bottom: 25px;
  }

  #browse-items-container {
    display: grid;
    height: 180px;
    grid-template-columns: repeat(15, max-content);
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  #browse-items-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #see-all {
    display: inherit;
  }

  #browse-items {
    height: 200px;
  }

  #list-1 > ul {
    display: none;
  }

  #list-b div > a,
  #list-b div button:first-child {
    display: none;
  }

  #list-icon {
    display: initial;
    margin-left: 10px;
    position: relative;
    bottom: 3px;
    transform: scale(1.6);
  }

  #search-bar {
    height: 125px;
  }

  #inner-search input {
    width: calc(100vw - 30px);
    max-width: 800px;
    height: 44px;
  }

  #inner-search i {
    height: 40px !important;
    width: 40px !important;
    line-height: 40px !important;
    right: 1px !important;
  }

  #add-poster {
    flex-direction: column;
    padding: 0px 15px;
    gap: 20px;
    height: 550px;
  }

  #add-poster-left,
  #add-poster-right {
    border-radius: 5px;
    box-shadow: 0px 0 11px 1px rgba(0, 0, 0, 0.15);
  }

  #add-poster-left {
    flex-direction: column;
    height: 320px;
    justify-content: center;
    align-items: center;
  }

  #add-poster-left img {
    padding-top: 20px;
  }

  #add-poster-left-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px !important;
  }

  #add-poster-right {
    height: 150px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
  }

  #quick-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
  }

  #start-making-money p {
    height: 20px !important;
    line-height: 20px !important;
  }

  #inner-quick-links {
    flex-shrink: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  #inner-quick-links::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  #inner-quick-links > div {
    width: auto;
    min-width: 300px;
    height: 150px;
  }

  #about-ikman {
    padding: 20px 10px 0px 15px;
    height: 120px;
    margin-top: 0px;
  }

  #about-ikman button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
  }

  #hide-para {
    display: none;
  }

  #footer-content {
    display: none;
  }

  #footer-content-hidden {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #footer-content-hidden > div {
    border-bottom: 1px solid darkgray;
  }

  #footer-content-hidden a {
    color: #0074ba;
  }

  #browse-items-1 {
    height: 15px;
    line-height: 15px !important;
    white-space: wrap;
    text-align: start !important;
  }

  #search-btn i{
    position: relative;
    left: 5px;
  }
}
