#app-container {
}

#header {
  /* border: 1px solid black; */
  background-color: rgb(40, 149, 121);
  display: flex;
  justify-content: center;
  color: white;
}

#inner-head {
  height: 64px;
  width: 100%;
  max-width: 986px;
  background-color: rgb(40, 149, 121);
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  width: 100%;
  background-color: rgb(40, 149, 121);
  display: flex;
  justify-content: center;
}

#search-bar {
  height: 186px;
  background-color: rgb(40, 149, 121);
  width: 100%;
  max-width: 986px;

}

#inner-search {
  position: relative;
}

#inner-search i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

#browse-items {
  height: 456px;
  width: 100%;
  max-width: 986px;
  border: 1px solid black;
}

#add-poster {
  height: 199px;
  width: 100%;
  max-width: 986px;
  border: 1px solid black;
}

#quick-links {
  height: 188px;
  width: 100%;
  max-width: 986px;
  border: 1px solid black;
}

#about-ikman {
  height: 190px;
  width: 100%;
  max-width: 986px;
  border: 1px solid black;
}

footer {
  height: 188px;
  display: flex;
  justify-content: center;
}

#footer-content {
  background-color: blue;
  width: 100%;
  max-width: 986px;
  border: 1px solid black;
}

#header-1 {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

#list-1 ul {
  font-size: 0.9rem;
  display: flex;
  color: white;
  height: 30px;
  line-height: 30px;
}

#list-1 ul div {
  display: flex;
  font-size: 0.8rem;
  text-align: center;
  line-height: 30px;
}

#list-1 #left-div {
  padding-left: 30px;
}

#list-1 ul #left-div li {
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 50px;
  border-radius: 5px 0px 0px 5px;
}

#list-1 ul #right-div li {
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 50px;
  border-radius: 0px 5px 5px 0px;
}

#list-1 ul a {
  font-weight: bold;
  color: white;
}

#left-div li a,
#right-div li a {
  font-weight: 400;
}

#header-1 img {
  width: 125px;
  height: auto;
  margin: 0;
  padding: 0;
}

#list-1 {
  margin-left: 20px;
}
#list-b {
  height: 100%;
  gap: 40px;
}

#list-b a {
  color: white;
  font-size: 0.8rem;
}

#list-a,
#list-b {
  display: flex;
  align-items: center;
  line-height: 30px;
}

#list-b button {
  height: 44px;
  width: 130px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 198, 28);
}

#list-b button:hover,
#header-1 img:hover {
  cursor: pointer;
}

#location {
  display: flex;
  font-size: 0.9rem;
  gap: 5px;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.15);
}

#location i {
  line-height: 30px;
}

#search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

#inner-search input {
  width: calc(100vw - 200px);
  /* width: auto; */
  max-width: 800px;
  height: 58.5px;
  border-radius: 50px;
  border: none;
  padding: 20px;
  outline: none;
}

input::placeholder {
  color: rgb(162, 159, 159);
  font-size: 1rem;
}
